.main-content{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  // height: 70vh;
  background-color: #6C05D3;
  // border: 2px solid red;

  .atm-screen-section{
    flex: 0 1 80%;
    height: 65vh;
    box-sizing: border-box;
    border-radius: 5px;
    // border: 2px solid orange;
    background-color: white;
    padding: .1em;

  }
}